<section class="full-width page-header">
  	<div class="container container-padding">
  		<h2 class="display-title">{{ 'customer.reset_password.title' | t }}</h2>
  	</div>
</section>

<div class="full-width info-page accounts">
  	<div class="container container-bottom-padding">
    	<div class="form--customer">
      {% form 'reset_customer_password' %}

      {% if form.errors %}
      <div class="errorForm feedback">
          <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
          <p>
              {% for field in form.errors %}
              		<span class="alert label">{{ form.errors.messages[field] }}</span><br />
              {% endfor %}
          </p>
      </div>
      {% endif %}
      
        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        <input type="password" placeholder="Password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">

        <input type="password" placeholder="Confirm Password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}">

        <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">

      {% endform %}
    </div>
	</div>
</div>
