 <section class="!mx-auto !max-w-screen-xl !px-4 !py-8 sm:px-6 sm:py-12 !lg:px-8">
        <div class="mt-8 max-w-2xl mx-auto mb-6 text-center">
                <h2 class="font-heading text-4xl xs:text-5xl sm:text-6xl md:text-7xl font-extrabold text-black tracking-tight mb-6">真實開箱 好評推薦</h2>
        </div>
       <div class="md:invisible md:absolute rax-carousel rax-carousel-center rounded-box gap-4 w-full justify-center">
        <div class="rax-carousel-item flex flex-col items-center">
         <a href="https://youtu.be/MDNUi6jO5fc?si=8tOZ8N9UB79ju6uz" class="group block rounded-lg p-2 shadow-sm shadow-indigo-100 hover:scale-105  hover:rounded-lg bg-white w-[200px]">
                      <img
                        alt=""
                        src="{{ 'news1.png'|file_url }}"
                        class="w-full rounded-md object-fill opacity-50 group-hover:opacity-100"
                        width=""
                        height=""
                      />
                    
                      <div class="mt-2">
                        <dl class="flex gap-2 py-2">
                          <div class="">
                            <img  src="{{ 'avatar1.png'|file_url }}"  alt="" width=""
                        height="">
                          </div>
  
                    
                          <div>
                            <dd class="text-[12px] font-bold text-black">我是賴瑞 /iamLarrie</dd>
                            <dd class="text-[11px] text-black whitespace-pre-wrap">無線充電效率可以說是非常的高，支援 Qi2 充電技術，手錶跟手機同時充電輸出，也不會影響到各自的充電效率
                            </dd>
                          </div>
                        </dl>
                  
                      </div>
                    </a>
        </div>
        <div class="rax-carousel-item flex flex-col items-center">
          <a href="https://www.youtube.com/watch?v=WizFKXoQlUM" class="group block rounded-lg p-2 shadow-sm shadow-indigo-100 hover:scale-105 hover:rounded-lg bg-white w-[200px]">
                        <img
                          alt=""
                          src="{{ 'news2.png'|file_url }}"
                          class="w-full rounded-md object-fill opacity-50 group-hover:opacity-100"
                          height=""
                          width=""
                        />
                      
                        <div class="mt-2">
                          <dl class="flex  gap-2 py-2">
                            <div class="">
                              <img  src="{{ 'avatar2.png'|file_url }}"  alt="" width="" height="">
                            </div>
    
                      
                            <div>
                              <dd class="text-[12px] font-bold text-blackk">APPLEFANS蘋果迷</dd>
                              <dd class="text-[11px] text-black">幫 iPhone 充電以外，還有多一組幫 Apple Watch 或 AirPods Pro 充電，讓我們隨身有兩三台蘋果裝置「蘋果迷」隨時可在車上補電。</dd>
                            </div>
                          </dl>
                    
                        </div>
                      </a>
        </div>
        <div class="rax-carousel-item flex flex-col items-center">
         <a href="https://www.youtube.com/watch?feature=shared&v=2QZ4tRNyNIs" class="group block rounded-lg p-2 shadow-sm shadow-indigo-100 hover:scale-105 hover:rounded-lg bg-white w-[200px]">
                          <img
                            alt=""
                             src="{{ 'news3.png'|file_url }}"
                            class="w-full rounded-md object-fill opacity-50 group-hover:opacity-100"
                            width=""
                            height=""
                          />
                        
                          <div class="mt-2">
                            <dl class="flex gap-2 py-2">
                              <div class="">
                                <img  src="{{ 'avatar3.png'|file_url }}"  alt="" width=""
                            height="">
                              </div>
      
                        
                              <div>
                                <dd class="text-[12px] font-bold text-black">人夫阿康 X 科技日常</dd>
                                <dd class="text-[11px] text-black whitespace-pre-wrap">開車外出兩天以上，就不需要再另外帶充電線，因為你開車的時候就可以幫我們 Apple Watch 補電了，真的超級方便哦！
                                </dd>
                              </div>
                            </dl>
                      
                          </div>
                        </a>
        </div>
      </div>



   
    <dl class="hidden md:grid mx-auto grid grid-cols-1 gap-4 sm:mt-2 sm:grid-cols-2 md:grid-cols-3">
        <div class="col-start-1">
            <a href="https://youtu.be/MDNUi6jO5fc?si=8tOZ8N9UB79ju6uz" class="group block rounded-lg p-4 shadow-sm shadow-indigo-100 hover:scale-105 bg-white">
                <img
                  alt=""
                  src="{{ 'news1.png'|file_url }}"
                  class="w-full rounded-md object-fill opacity-50 group-hover:opacity-100"
                  width=""
                  height=""
                />
              
                <div class="mt-2">
                  <dl class="flex items-center gap-2 py-2">
                    <div class="">
                      <img  src="{{ 'avatar1.png'|file_url }}"  alt="" width=""
                  height="">
                    </div>

              
                    <div>
                      <dd class="font-medium text-black">我是賴瑞 /iamLarrie</dd>
                      <dd class="text-[11px] text-black whitespace-pre-wrap">無線充電效率可以說是非常的高，支援 Qi2 充電技術，手錶跟手機同時充電輸出，也不會影響到各自的充電效率
                      </dd>
                    </div>
                  </dl>
            
                </div>
              </a>
            </div>
  
            <div class="">
                <a href="https://www.youtube.com/watch?v=WizFKXoQlUM" class="group block rounded-lg p-4 shadow-sm shadow-indigo-100 hover:scale-105 bg-white">
                  <img
                    alt=""
                    src="{{ 'news2.png'|file_url }}"
                    class="w-full rounded-md object-fill opacity-50 group-hover:opacity-100"
                    height=""
                    width=""
                  />
                
                  <div class="mt-2">
                    <dl class="flex items-center gap-2 py-2">
                      <div class="">
                        <img  src="{{ 'avatar2.png'|file_url }}"  alt="" width="" height="">
                      </div>

                
                      <div>
                        <dd class="font-medium text-black">APPLEFANS蘋果迷</dd>
                        <dd class="text-[11px] text-black">幫 iPhone 充電以外，還有多一組幫 Apple Watch 或 AirPods Pro 充電，讓我們隨身有兩三台蘋果裝置「蘋果迷」隨時可在車上補電。</dd>
                      </div>
                    </dl>
              
                  </div>
                </a>
              </div>
  
              <div class="">
                  <a href="https://www.youtube.com/watch?feature=shared&v=2QZ4tRNyNIs" class="group block rounded-lg p-4 shadow-sm shadow-indigo-100 hover:scale-105 bg-white">
                    <img
                      alt=""
                       src="{{ 'news3.png'|file_url }}"
                      class="w-full rounded-md object-fill opacity-50 group-hover:opacity-100"
                      width=""
                      height=""
                    />
                  
                    <div class="mt-2">
                      <dl class="flex items-center gap-2 py-2">
                        <div class="">
                          <img  src="{{ 'avatar3.png'|file_url }}"  alt="" width=""
                      height="">
                        </div>

                  
                        <div>
                          <dd class="font-medium text-black">人夫阿康 X 科技日常</dd>
                          <dd class="text-[11px] text-black whitespace-pre-wrap">開車外出兩天以上，就不需要再另外帶充電線，因為你開車的時候就可以幫我們 Apple Watch 補電了，真的超級方便哦！
                          </dd>
                        </div>
                      </dl>
                
                    </div>
                  </a>
                </div>
    </dl>

        <dl class="mx-auto mt-6 grid grid-cols-1 gap-4 sm:mt-8 sm:grid-cols-2 lg:grid-cols-2 lg:px-64">
            <article class="!rounded-xl !border !shadow-sm !border-2 !border-gray-100 !bg-white !col-start-1  hover:scale-105 cursor-pointer" onclick="window.location='https://youtube.com/shorts/HsmjEwZq1do?si=uWQoW44QRdsI-wV';">
                <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
                  <a href="https://youtube.com/shorts/HsmjEwZq1do?si=uWQoW44QRdsI-wV" class="block shrink-0">
                    <img
                      alt=""
                      src="{{ 'avatar4.png'|file_url }}"
                      class="size-14 rounded-lg object-cover"
                      width=""
                          height=""
                    />
                  </a>
              
                  <div>
                    <h3 class="font-medium sm:text-lg">
                      <a href="https://youtube.com/shorts/HsmjEwZq1do?si=uWQoW44QRdsI-wV" class="hover:underline"> Joeman </a>
                    </h3>
              
                    <p class="text-[12px] text-gray-700">
                      我找很久超級好用 MagSafe 車用充電器，搭配特斯拉，我覺得非常適合
                    </p>
              
                    
                  </div>
                </div>
              
              
              </article>
      
              <article class="rounded-xl border-2 border-gray-100 bg-white !shadow-sm  hover:scale-105 cursor-pointer" onclick="window.location='https://applealmond.com/posts/207529';">
                <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
                  <a href="https://applealmond.com/posts/207529" class=" block shrink-0">
                    <img
                      alt=""
                      src="{{ 'avatar5.png'|file_url }}"
                      class="size-14 rounded-lg object-cover"
                      width=""
                      height=""
                    />
                  </a>
              
                  <div>
                    <h3 class="font-medium sm:text-lg">
                      <a href="https://applealmond.com/posts/207529" class="hover:underline"> 蘋果仁 </a>
                    </h3>
              
                    <p class="text-[12px] text-gray-700">
                      山路彎來彎去、下山要一直煞車也完全不擔心掉落，真的很穩
                    </p>
              
                    
                  </div>
                </div>
              
              
              </article>
      
        </dl>
    </section>
                <style>
      .rax-carousel {
        display: inline-flex !important;
        overflow-x: scroll !important;
         overflow-y: hidden !important;
        scroll-snap-type: x mandatory !important;
        scroll-behavior: smooth !important;
        -ms-overflow-style: none !important;
        scrollbar-width: none !important;
      }
      
      .rax-carousel-vertical {
          flex-direction: column !important;
          overflow-y: scroll !important;
          scroll-snap-type: y mandatory !important;
      }
      
      .rax-carousel-item {
          box-sizing: content-box !important;
          display: flex !important;
          flex: none !important;
          scroll-snap-align: center !important;
      }
      
      .carousel-start .rax-carousel-item {
          scroll-snap-align: start
      }
      
      .rax-carousel-center .rax-carousel-item {
          scroll-snap-align: center
      }
      
      .carousel-end .rax-carousel-item {
          scroll-snap-align: end
      }
    </style>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}