<!-- Add Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<!--<link rel="stylesheet" href="{{ 'swiper_style.css' | asset_url }}"> -->
<!-- Add Swiper JS -->
<section class="full-width promo-hero">
    <div class="s1">
         <a href = "https://www.flyingv.cc/projects/35539"><img class="s1-banner" src="{{'banner0826.jpg'|asset_url}}" ></a>
         <a href = "https://www.flyingv.cc/projects/35539"><img class="m-s1-banner" src="{{'mbanner0826.jpg'|asset_url}}" ></a>
         <a href = "https://www.flyingv.cc/projects/35539">
           <!--<div class="s1-logo">
            <img class="index-logo" src="https://cdn.shopify.com/s/files/1/1403/9023/files/logo_2.png?v=1689249115">
            <img class="index-TxtImg" src="https://cdn.shopify.com/s/files/1/1403/9023/files/c295e0a59d0d2ad2b0fc77a6b42adbd1.png?v=1689249506https://cdn.shopify.com/s/files/1/1403/9023/files/c295e0a59d0d2ad2b0fc77a6b42adbd1.png?v=1689249506">
           </div> -->
         </a>
        
    </div>

</section>

<!--new menu-->
<section class="full-width product-intro clearfix m-s2-change">
    <div class="s2">
        <div class="row">        
            <div class="s2-row-blue">
            </div>
            <div class="s2-row-white">
            </div>
            <div class="s2-row-blue">
            </div>       
        </div>
        <div class="s2-imgs">
            <div class = "icondiv" >
                <a href="collections/new-product" data-analytics-title="最新產品">
                    <img class="s2-img5" src="{{ '01_gray.png' | asset_url }}" alt="New Products">
                </a>                
                <a href="collections/new-product" data-analytics-title="最新產品" class = "buy-now">最新產品</a>
            </div>
            <div class = "icondiv">
                <a href="/collections/in-the-door" data-analytics-title="戶外用品">
                    <img class="s2-img1" src="{{ '03_gray.png' | asset_url }}" alt="In-the-go">
                </a>                
                <a href="collections/in-the-door" data-analytics-title="戶外用品" class = "buy-now">戶外用品</a>
            </div>
            <div class = "icondiv">
                <a href="/collections/in-door" data-analytics-title="室內充電">
                    <img class="s2-img2" src = "{{ '05_gray.png' | asset_url }}" alt="In door">
                </a>                
                <a href="collections/in-door" data-analytics-title="戶外用品" class = "buy-now">室內充電</a>
            </div>
            <div class = "icondiv">
                <a href="/collections/vechcle" data-analytics-title="車用充電">
                    <img class="s2-img3" src="{{ '04_gray.png' | asset_url }}" alt="Vechcle">
                </a>                
                <a href="collections/vechcle" data-analytics-title="戶外用品" class = "buy-now">車用充電</a>
            </div>
            <div class = "icondiv">
                <a href="/collections/accessoires" data-analytics-title="周邊配件">
                    <img class="s2-img4" src="{{ '02_gray.png' | asset_url }}" alt="Accessories">
                </a>                
                <a href="collections/accessoires" data-analytics-title="戶外用品" class = "buy-now">周邊配件</p></a>
            </div>
    </div> 
    </div> 

  
      <!--手機用new Menu-->

    <div class="m-s2">
                <div>        
            <div class="m-s2-row-blue" style = "margin-top:10px;">
            </div>
            <div class="m-s2-row-white">
            </div>
            <div class="m-s2-row-blue">
            </div>       
        </div>
        <!--<div class="m-s2-arrors">
            <img class="m-arror-left" src="https://cdn.shopify.com/s/files/1/1403/9023/files/04aafe400ff6ee2abcd7441d156c4c3b.png?v=1690440544" onclick="setCurrentSlide(1)">
            <img class="m-arror-right" src="https://cdn.shopify.com/s/files/1/1403/9023/files/a7c767e7ef534ae0caa0285a299663e7.png?v=1690440544" onclick="setCurrentSlide(2)">
        </div> -->
        <div class="Tmenu slider swiper-container swiper-slider swiper-variant-1" data-loop="false" data-simulate-touch="true">
            <div class="swiper-wrapper text-center">
              <div class="swiper-slide" style = "height:170px;">
                <div class="swiper-slide-caption text-center">
                  <div class="m-SubImgMun">
                    <a href="collections/new-product" data-analytics-title="最新產品">
                    <img class="s2-img5" src="{{ '01_gray.png' | asset_url }}" alt="New Products">
                    </a>                
                    <a href="collections/new-product" data-analytics-title="最新產品" class = "buy-now">最新產品</a>
                  </div>
                  <div class="m-SubImgMun">
                    <a href="/collections/in-the-door" data-analytics-title="戶外用品">
                    <img class="s2-img1" src="{{ '03_gray.png' | asset_url }}" alt="In-the-go">
                  </a>                
                  <a href="collections/in-the-door" data-analytics-title="戶外用品" class = "buy-now">戶外用品</a>
                  </div> 
                  <div class="m-SubImgMun">
                    <a href="/collections/in-door" data-analytics-title="室內充電">
                    <img class="s2-img2" src = "{{ '05_gray.png' | asset_url }}" alt="In door">
                    </a>                
                    <a href="collections/in-door" data-analytics-title="戶外用品" class = "buy-now">室內充電</a>
                  </div>
                </div>
              </div>
              
              <div class="swiper-slide" style = "height:170px;">
                <div class="swiper-slide-caption twoblock text-center">
                  <div class="m-SubImgMun">
                    <a href="/collections/vechcle" data-analytics-title="車用充電">
                    <img class="s2-img3" src="{{ '04_gray.png' | asset_url }}" alt="Vechcle">
                    </a>                
                  <a href="collections/vechcle" data-analytics-title="戶外用品" class = "buy-now omnia">車用充電</a>
                  </div>
                <div class="m-SubImgMun">
                  <a href="/collections/accessoires" data-analytics-title="周邊配件">
                  <img class="s2-img4" src="{{ '02_gray.png' | asset_url }}" alt="Accessories">
                </a>                
                <a href="collections/accessoires" data-analytics-title="戶外用品" class = "buy-now">周邊配件</a>
                </div>
              </div>
            </div>
        </div>
                <div class="swiper-pagination"></div> 
                <div class="swiper-scrollbar d-lg-none"></div>



    </div>  

      
    </div>
  
</section>
<!--New Menu-->

<!--New Menu2
<section class="full-width product-intro clearfix">
    <div class="m-s2">
        <div class="row">        
            <div class="m-s2-row-blue">
            </div>
            <div class="m-s2-row-white">
            </div>
            <div class="m-s2-row-blue">
            </div>       
        </div>
        <div class="m-s2-imgs">
            <div>
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/1403/9023/files/In-the-go.png?v=1689035314" alt="In-the-go">
                </a>                
                <p>In-the-go</p>
            </div>
            <div>
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/1403/9023/files/In_door.png?v=1689035315" alt="In door">
                </a>                
                <p>In door</p>
            </div>
            <div>
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/1403/9023/files/Vechcle.png?v=1689035314" alt="Vechcle">
                </a>                
                <p>Vechcle</p>
            </div>
            <div>
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/1403/9023/files/Accessories.png?v=1689035314" alt="Accessories">
                </a>                
                <p>Accessories</p>
            </div>
            <div>
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/1403/9023/files/New-Products.png?v=1691027778" alt="New Products">
                </a>                
                <p>New Products</p>
            </div>
    </div>  

</section>-->
<!--New Menu2-->
<!--Test1-->

<!--Test1-->


<!--主內容區域1-->

     <!-- <section>
        <div class="swiper-container swiper-slider swiper-variant-1" data-loop="false" data-simulate-touch="true">
          <div class="swiper-wrapper text-center">
            <div class="swiper-slide">
              <div class="swiper-slide-caption text-center">
                <div class="m-SubImgMun">
                <a href="collections/new-product" data-analytics-title="最新產品">
                    <img class="s2-img5" src="{{ '01_gray.png' | asset_url }}" alt="New Products">
                </a>                
                <a href="collections/new-product" data-analytics-title="最新產品" class = "buy-now">最新產品</a>
              </div>
              <div class="m-SubImgMun">
                <a href="/collections/in-the-door" data-analytics-title="戶外用品">
                    <img class="s2-img1" src="{{ '02_gray.png' | asset_url }}" alt="In-the-go">
                </a>                
                <a href="collections/in-the-door" data-analytics-title="戶外用品" class = "buy-now">戶外用品</a>
              </div> 
              <div class="m-SubImgMun">
                <a href="/collections/in-door" data-analytics-title="室內充電">
                    <img class="s2-img2" src = "{{ '03_gray.png' | asset_url }}" alt="In door">
                </a>                
                <a href="collections/in-door" data-analytics-title="戶外用品" class = "buy-now">室內充電</a>
              </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/home-slider-slide-2.jpg">
              <div class="swiper-slide-caption text-center">
              <div class="m-SubImgMun">
                <a href="/collections/vechcle" data-analytics-title="車用充電">
                    <img class="s2-img3" src="{{ '04_gray.png' | asset_url }}" alt="Vechcle">
                </a>                
                <a href="collections/vechcle" data-analytics-title="戶外用品" class = "buy-now omnia">車用充電</a>
              </div>
              <div class="m-SubImgMun">
                <a href="/collections/accessoires" data-analytics-title="周邊配件">
                    <img class="s2-img4" src="{{ '05_gray.png' | asset_url }}" alt="Accessories">
                </a>                
                <a href="collections/accessoires" data-analytics-title="戶外用品" class = "buy-now">周邊配件</a>
              </div>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar d-lg-none"></div>
          <div class="swiper-nav-wrap">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </section> --> 

      {{ 'coremin.js' | asset_url | script_tag }}
      {{ 'swiper_script.js' | asset_url | script_tag }} 

<section class="full-width product-intro clearfix">
    <div class="s3">
        <a href = "https://bezalel.tw/products/prelude-x-magsafe-2"><img id="s3-link1" class="s3-banner" src="{{'banner_0606.jpg'|asset_url}}"></a>
        <a href = "https://bezalel.tw/products/prelude-x-magsafe-2"><img id="s3-m-link1" class="s3-banner-m" src="{{'banner_0606.jpg'|asset_url}}"></a>
        <div class="s3-logo">
            <img class="s3-index-logo" src="https://cdn.shopify.com/s/files/1/1403/9023/files/reddot.png?v=1689064525">
            <p class="txt_g2">PreludeX系列</p>
        </div>
      
    </div> 
  
</section>
<!--主內容區域1-->


<!--主內容區域2
<section class="full-width product-intro clearfix">
    <div class="s4">
        <img id="s4-link1" class="s4-banner" src="https://cdn.shopify.com/s/files/1/1403/9023/files/BN.jpg?v=1689033743">
        <img id="s4-m-link1" class="s4-banner-m" src="https://cdn.shopify.com/s/files/1/1403/9023/files/BN3.jpg?v=1690729114">
        <div class="s4-txt">
            <h2 class="txt_g1">獨家組合</h2>
            <h3 class="txt_g2">Prelude X | Futura S</h3>
        </div>
        
    </div>
</section>
<section class="full-width product-intro clearfix s4-m">
      <div class="s4-m-txt">
            <h1 class="txt_g1">獨家組合</h1>
            <p class="txt_g2">Prelude X | Futura S</p>
    </div>
</section>
主內容區域2-->


<!--左右右左-->
<section class="full-width product-intro clearfix s5">
  <div>
    <div class="row" style = "gap:10px;">
        <!-- 因規格變更為超連結需求，圖片為用javascript來完成超連結需求-->
        <div class="col-md-6 s5-1 Limg" id = "ToOmnia" >
          <a href = "https://bezalel.tw/products/omnia-x-series-magsafe" >
            <h1 class="txt_g1" style = "color:#FFF;text-align:center;font-size:40px;font-weight:600;">Omnia X</h1>
            <p>車用磁吸無線充電器</p>
            <button class = "btn" onclick = "ToLink('Omnia')">立即購買</button>
          </a>
        </div>
        <div class="col-md-6 s5-1 Rimg" id = "ToPrelude">
          <a href = "https://bezalel.tw/products/prelude-x-magsafe-2">
            <h1 class="txt_g1" style = "color:#FFF;text-align:center;font-size:40px;font-weight:600;">Prelude X</h1>
            <p>磁吸無線充電器</p>
            <button class = "btn" onclick = "ToLink('Prelude')">立即購買</button>
          </a>
        </div>
      </div>
    </div>

  
</section>


<!--輪播區域-->
<section class="full-width light-bg clearfix quotes-content">  	
  	<div class="container clearfix">      
		<div class="cycle-slideshow" data-cycle-auto-height="false" data-cycle-fx="scrollHorz" data-cycle-pager=".quotesnav" data-cycle-speed="600" data-cycle-slides="> div" data-cycle-swipe="true" data-cycle-timeout="4000">

            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=Wired>●</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt txt_g2">「讓人想擁有的最新無線充電手機殼」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_01_wired.webp' | asset_url }}" />
                          <img src="{{ 'logo_01_wired.png' | asset_url }}" alt="Wired" width="150" height="30.5" id="wired-logo">
                      </picture>
                  </span>
              </h4>
            </div>
            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=Digital Trends>●</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt txt_g2">「適用於您的iPhone 或 Android 手機充飽電的最佳無線充電器」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_02_digitaltrends.webp' | asset_url }}" />
                          <img id="dt-logo" src="{{ 'logo_02_digitaltrends.png' | asset_url }}" alt="Digital Trends" width="150" height="62">
                      </picture>
                  </span>
              </h4>
            </div>
            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=Business Insider>●</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt txt_g2">「適用於 iPhone 8、iPhone X 或 Android 手機的最佳無線充電器」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_03_business-insider.webp' | asset_url }}" />
                          <img id="business-logo" src="{{ 'logo_03_business-insider.png' | asset_url }}" alt="Business Insider" width="125" height="50">
                      </picture>
                  </span>
              </h4>
            </div>
            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=Tech Crunch>●</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt txt_g2">「一起加入捨棄充電線的行列吧!」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_04_techcrunch.webp' | asset_url }}" />
                          <img id="techcrunch-logo" src="{{ 'logo_04_techcrunch.png' | asset_url }}" alt="Tech Crunch" width="150" height="26.5">
                      </picture>
                  </span>
              </h4>
            </div>
            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=Buzz Feed>●</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt txt_g2">「新世代無線充電行動電源」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_05_buzzfeed.webp' | asset_url }}" />
                          <img id="buzzfeed-logo" src="{{ 'logo_05_buzzfeed.png' | asset_url }}" alt="Buzz Feed" width="150" height="28">
                      </picture>
                  </span>
              </h4>
            </div>
            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=abc news>●</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt txt_g2">「最受歡迎的 iPhone 科技小物」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_05_buzzfeed.webp' | asset_url }}" />
                          <img id="abc-logo" src="https://cdn.shopify.com/s/files/1/1403/9023/files/abc_news.png?v=1690438778" alt="abc news" width="120" height="50">
                      </picture>
                  </span>
              </h4>
            </div>
      
      	</div>
        
		<ul class="cycle-pager quotesnav"></ul>  
  	</div>  
</section>

<!--輪播區域-->



<style>

.main-content{
  background-color:#FFF;
}  

.txt_g2{
  font-size:22px !important;
}

.evenP{
  margin-top:5px;
}

h4.quotes span.quote-txt{
  color:black;
}
/*測試功能*/
.Tmenu {
  overflow:scroll;
  white-space: nowrap;
  transform: translateY(-168px);
  display:flex;
  scroll-snap-type: x mandatory;
}
.Tmenu img {
    height: 70px;
    width: auto;
}

.slider {
  display: flex;
  transition: transform 0.3s ease;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  max-width: 100vw;
  height: auto;
}

  .slider {
    display: flex;
    transition: transform 0.3s ease;
    padding: 10px;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    overflow:scroll;
}


.Tmenu img {
  margin-left:0px;
}

.m-s2{
    position: relative;
    width: 100%;
    height: 200px;
    display:none;
}

.m-s2-row-blue{
    /*background-image: url('https://cdn.shopify.com/s/files/1/1403/9023/files/25b2ad919af8dfb29ed15d710c700901_a0683fea-6f04-4f58-bce7-7cb50a387049.jpg?v=1691027778');*/
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:45px;
}

.m-s2-row-white{
    width:100%;
    height:45px;
}

.m-s2-imgs{
    position: absolute;
    display: flex;
    justify-content: space-around;
    /* padding-left: 24px; */
    /* padding-right: 80px; */
    top: 47px;
    left: 0px;
    white-space: nowrap;
    
    width: 100%;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.m-s2-imgs div {
    text-align: center;
}
.m-s2-imgs img{
    height: 219px;
    width: auto;
}
.m-s2-imgs p{
    position: relative;
    color: white;
    top: 20px;
    font-size: 30px;
}

/*測試功能*/
  
.s1 {
 
}

.s1-banner{
    position:relative;
    display:unset;
}
.m-s1-banner{
  display:none;
}

.s1-logo {
    position: absolute;
    top: 30%;
    /* left: 0; */
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.index-logo{
    height: 150px!important;
    width: auto!important;
}

.index-TxtImg {
    height: 107px!important;
    width: auto!important;
}

/*S2區域往上拉2023/8/1*/
  section.full-width.product-intro.clearfix.m-s2-change {
    transform: translateY(-60px);
}
  
.s2{
  position:relative;
  width:100%;
  height: 250px;
}

.s2-row-blue{
    background-image: url('https://cdn.shopify.com/s/files/1/1403/9023/files/25b2ad919af8dfb29ed15d710c700901_a0683fea-6f04-4f58-bce7-7cb50a387049.jpg?v=1691027778');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:70px;
    display:none;
}

.s2-row-white{
    width:100%;
    height:70px;
}

.s2-imgs{
    position: absolute;
    display: flex;
    justify-content: center;
    /* padding-left: 24px; */
    /* padding-right: 80px; */
    top: 95px;
    left: 20%;
    white-space: nowrap;
    width: 59%;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap:110px;
}

.s2-imgs div {
    text-align: center;
}
.s2-imgs img{
    margin-left:18px;
    height: 116px;
    width: auto;
}
.s2-imgs p{
    position: relative;
    color: black;
    top: 0px;
    font-family: Microsoft JhengHei;
}

.s2-imgs img:hover {
  filter: brightness(0.8);
}

.icondiv:hover .buy-now {
  color: #4B9BE1 !important;
}



.s3-banner{
    position:relative;
}

.s3-banner-m{
    display:none;
}

.s3-logo{
    position: absolute;
    bottom: 10px;
    left: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    display:none;
}

.s3-index-logo{
    max-height: 100px;
    width: auto!important;
}

.s3-logo p {
    letter-spacing: 5px;
}
#s3-link1{
  cursor: pointer;
  padding-bottom: 10px;
  background-color:#EAEAEA;
}
#s3-m-link1{
  cursor: pointer;
  margin-top:20px;
  margin-bottom:10px;
}
    

.s4 {
 
}

.s4-banner{
    position:relative;
}

.s4-banner-m{
    position:relative;
    display:none;
}

.s4-txt{
    position: absolute;
    bottom: 44%;
    /* left: -14px; */
    width: 54%;
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display:none;
}

.s4-txt * {
    font-size: 35px;
    color: white;
}
  
  .s4-m{
    display:none;
  }

#s4-link1{
  cursor: pointer;
  display:none;
}
#s4-m-link1{
  cursor: pointer;
  display:none;
}
    
.s5{

}

 .s5 div {
    padding: 0;
   background-color:#EAEAEA;
   padding-left:10px;
   padding-right:0px;
}
  
.s5-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#s5_link1{
  transition: opacity 0.5s;
}

#s5_link1:hover{
  opacity:0.5;
}
  
.s5-1-txt {
    display: block;
    text-align: center;
}

.s5-1-txt h1 {

    line-height: 2;
    /*覆蓋被SCSS影響到的參數*/
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    /*修正會往左偏的問題*/
    padding-left: 10px;
    font-size:40px;
}

.s5-1-txt p {

    line-height: 1.5;
    /*覆蓋被SCSS影響到的參數*/
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    font-size:20px;
    /*修正會往左偏的問題*/
}
  
.s5-2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#s5_link2{
  transition: opacity 0.5s;
}

#s5_link2:hover{
  opacity:0.5;
}

.s5-2-txt {
    text-align:center;
}

.s5-2-txt h1{

    line-height: 2;
    /*覆蓋被SCSS影響到的參數*/
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    /*修正會往左偏的問題*/
    padding-left: 10px;
}

  .s5-2-txt p {
     line-height: 1.5;
    /*覆蓋被SCSS影響到的參數*/
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    /*修正會往左偏的問題*/
}

/* 2023 /8/10 以javascrip的方式完成該需求，並加上5_link 的流水號來新增id8/11 追加s3 s4 區域 */
#s5_link1{
  cursor: pointer;

}
#s5_link2{
  cursor: pointer;
}

.quotes-content{
  margin-top:25px;
}

  
/*輪播banner*/
.quotes-content .container .cycle-slideshow {
    height: 105px;
  
}

  .Limg:hover{
    filter: brightness(0.8);
  }

  .Rimg:hover{
    filter: brightness(0.8);
  }
  
  .btn:hover{
    background-color:#4B9BE1;
    color:white;
  }

  .Limg{
    padding:415px 0px 0px !important;
    height:625px;
    text-align:center;
    width:49%;
  }

  .Limg p{
    font-size:22px;
    color:white;
    font-weight:600;
  }

  .Rimg p{
    font-size:22px;
    color:white;
    font-weight:600;
  }

  .Rimg{
    padding:415px 0px 0px !important;
    height:625px;
    text-align:center;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFF;
    color: #333;
    border-radius: 100px !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width:150px;
  }

  .buy-now{
    background: #FFF !important;
    position: relative;
    bottom: 4%;
    display: block;
    width: 155px;
    left: 2%;
    line-height: 1.6;
    padding: 5.5px 0px;
    border-radius:5px;
    color: #727272 !important;
    cursor: pointer;
    max-width: none;
    font-size: 22px;
    font-family: Mark, Arial, sans-serif;
    height: 40px !important;
    text-align:center;
    margin-top:20px;
    text-align:14px;
    transition: opacity 0.5s;
  }

  .swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	/* Fix of Webkit flickering */
	z-index: 1;
	height: auto;
	min-height: 36.25vw;
}

.swiper-container .swiper-wrapper {
	height: auto;
	min-height: inherit;
}

@media (min-width: 1600px) {
	.swiper-container {
		min-height: 696px;
	}
}

.swiper-container-no-flexbox .swiper-slide {
	float: left;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	-webkit-transform: translate3d(0px, 0, 0);
	-moz-transform: translate3d(0px, 0, 0);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}

.swiper-slide {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	min-height: 150px;
}

/* a11y */
.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}

.swiper-nav {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	z-index: 10;
	pointer-events: none;
	transform: translateY(-50%);
}

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
	z-index: 10;
	width: 45px;
	height: 45px;
	line-height: 45px;
	font: 400 20px/45px 'fl-flat-icons-set-2';
	text-align: center;
	cursor: pointer;
	pointer-events: auto;
	color: #fff;
	background: rgba(50, 57, 63, 0.45);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	color: #fff;
	background: rgba(50, 57, 63, 0.72);
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity: 0;
	cursor: auto;
	pointer-events: none;
}

.swiper-button-prev:before {
	content: '\e015';
}

.swiper-button-next:before {
	content: '\e015';
}

/* Pagination Styles */
.swiper-pagination-wrap {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 100%;
	transform: translate3d(-50%, 0, 0);
	z-index: 10;
}

@media (min-width: 992px) {
	.swiper-pagination-wrap {
		bottom: 35px;
	}
}

@media (min-width: 1200px) {
	.swiper-pagination-wrap {
		bottom: 55px;
	}
}

.swiper-pagination {
	display: block;
	width: 100%;
	text-align: center;
	transition: 300ms;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

@media (min-width: 768px) {
	.swiper-pagination {
		text-align: left;
	}
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
}

.swiper-pagination-bullet {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 20px;
	background: #cdcdcd;
	pointer-events: none;
	transition: all .2s ease-out;
}

.swiper-pagination-bullet + * {
	margin-left: 10px;
}

@media (min-width: 768px) {
	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		pointer-events: auto;
	}
	.swiper-pagination-bullet + * {
		margin-left: 20px;
	}
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
	background: #fff;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
	background: #cca876;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
	background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
	background: #000;
}

.swiper-container-vertical > .swiper-pagination {
	right: 10px;
	top: 50%;
	-webkit-transform: translate3d(0px, -50%, 0);
	-moz-transform: translate3d(0px, -50%, 0);
	-o-transform: translate(0px, -50%);
	-ms-transform: translate3d(0px, -50%, 0);
	transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
	margin: 5px 0;
	display: block;
}

.swiper-container-horizontal > .swiper-pagination {
	bottom: 20px;
	left: 0;
	width: 100%;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
	margin: 0 5px;
}

/* 3D Container */
.swiper-container-3d {
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
	/* Windows 8 IE 10 fix */
	-ms-perspective: 1200px;
}

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
	pointer-events: none;
}

.swiper-container-fade .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

/* Cube */
.swiper-container-cube {
	overflow: visible;
}

.swiper-container-cube .swiper-slide {
	pointer-events: none;
	visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
	pointer-events: auto;
	visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	-webkit-filter: blur(50px);
	filter: blur(50px);
	z-index: 0;
}

/* Scrollbar */
.swiper-scrollbar {
	position: relative;
	-ms-touch-action: none;
}

.swiper-container-horizontal > .swiper-scrollbar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	height: 5px;
	width: 100%;
}

.swiper-container-vertical > .swiper-scrollbar {
	position: absolute;
	right: 3px;
	top: 1%;
	z-index: 50;
	width: 5px;
	height: 98%;
}

.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: #cca876;
	left: 0;
	top: 0;
    opacity:0;
}

.swiper-scrollbar-cursor-drag {
	cursor: move;
}

/* Preloader */
.swiper-lazy-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	-webkit-transform-origin: 50%;
	-moz-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
	-moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
	animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-position: 50%;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes swiper-preloader-spin {
	100% {
		transform: rotate(360deg);
	}
}

.swiper-slide > .vide__body,
.swiper-slide > .parallax_cnt {
	height: 100%;
}

.swiper-slide {
	position: relative;
	text-align: center;
	white-space: nowrap;
	background-position: center center;
	overflow: hidden;
}

.swiper-slide:not(.vide):not(.rd-parallax):before,
.swiper-slide .parallax_cnt:before, .swiper-slide .vide__body:before {
	content: '';
	display: inline-block;
	height: 50%;
}

.swiper-slide-caption {
	display: inline-block;
	width: 100%;
	max-height: 100%;
	margin-left: -.25em;
	vertical-align: middle;
	white-space: normal;
	z-index: 1;
}

.swiper-slide-caption * + .button-block {
	margin-top: 40px;
}

.swiper-variant-1 {
	min-height: calc(100vh - 56px);
}

.swiper-variant-1 .slider-header {
	margin-top: 20px;
	font-size: 26px;
	font-style: normal;
}

.swiper-variant-1 .swiper-slide {
	position: relative;
}

.swiper-variant-1 .swiper-slide:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	background: #000;
	opacity: 0;
}

.swiper-variant-1 .swiper-slide > * {
	position: relative;
	z-index: 10;
}

.swiper-variant-1 .swiper-slide-caption {
	padding: 40px;
}

.swiper-variant-1 .swiper-button-prev,
.swiper-variant-1 .swiper-button-next {
	display: none;
}

.swiper-variant-1 .slider-text {
	display: none;
}

.swiper-variant-1 .btn {
	padding: 9px 29px;
}

@media (min-width: 768px) {
	.swiper-variant-1, .swiper-variant-1 .swiper-wrapper {
		min-height: 33.90625vw;
	}
	.swiper-variant-1 .swiper-slide-caption {
		padding: 60px 0 115px;
	}
	.swiper-variant-1 .slider-header {
		margin-top: 10px;
		font-size: 36px;
	}
	.swiper-variant-1 .slider-text {
		display: block;
	}
}

@media (min-width: 992px) {
	.swiper-variant-1 .swiper-slide {
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.swiper-variant-1 .swiper-slide:after {
		opacity: .2;
	}
	.swiper-variant-1 .slider-header {
		font-size: 42px;
	}
	.swiper-variant-1 .swiper-slide-caption {
		padding: 120px 0 145px;
	}
	.swiper-variant-1 .swiper-button-prev,
	.swiper-variant-1 .swiper-button-next {
		position: absolute;
		top: 50%;
		transform: translateY(-59%);
		z-index: 10;
		display: block;
		transition: .3s all ease;
	}
	.swiper-variant-1 .swiper-button-prev {
		left: 3.1%;
		transform: scale(-1, 1);
	}
	.swiper-variant-1 .swiper-button-next {
		right: 3.1%;
	}
}

@media (min-width: 1200px) {
	.swiper-variant-1 .slider-header {
		font-size: 50px;
	}
	.swiper-variant-1 .swiper-slide:after {
		display: none;
	}
}

@media (min-width: 1600px) {
	.swiper-variant-1 .swiper-button-prev {
		left: calc(50vw - 1170px / 2 - 290px + (1170px / 12) * 0);
	}
	.swiper-variant-1 .swiper-button-next {
		right: calc(50vw - 1170px / 2 - 290px + (1170px / 12) * 0);
	}
}

@media (min-width: 1600px) {
	.swiper-variant-1, .swiper-variant-1 .swiper-wrapper {
		height: auto;
		min-height: 651px;
	}
}

  .swiper-slide-caption{
    display:flex;
    gap:70px;
  }



  .omnia{
    margin-top:20%;
    left:15%;
  }

.mobile-nav{
  top:0px;
}

        .carousel-buttons {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
        }

        .carousel-button {
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: #bbb;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .carousel-button:hover {
            background-color: #717171;
        }

        .carousel-button.active {
            background-color: #333;
        }



@media screen and (max-width:1600px) { 
.index-logo{
  height: 124px!important;
}
.index-TxtImg {
    height: 85px!important;
   
}

  .s5-1-txt h1 {
   
}
  .s5-1-txt p {

}
  
.s5-2-txt h1 {

}

.s5-2-txt p {
}
  
/* <1500px */
}

.m-nav-top *{
  color:#000 !important;
}


  
@media screen and (max-width:1300px) {
  .s2-imgs {
      left: 10%;
      width: 80%;
  }

  .index-logo {
    height: 102px!important;
  }

  .index-TxtImg {
    height: 68px!important;
  }
}

  @media screen and (max-width:1024px) {
    .s1-logo {
      display:none;
      top: 27%;
    }

  .Limg{
    padding:115px 0px 0px !important;
    height:315px;
    width:49%;    
  }

  .Rimg{
    padding:115px 0px 0px !important;
    height:315px;
    width:49%;
  }

  .slider{
    padding:0px;
    height:135px;
  }

  .m-SubImgMun {
    width: 120px!important;
    height: auto;
    text-align: center;
    color: white;
  }


  .s2-imgs{
    position: absolute;
    display: flex;
    justify-content: center;
    /* padding-left: 24px; */
    /* padding-right: 80px; */
    top: 95px;
    left: 20%;
    white-space: nowrap;
    width: 59%;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap:60px;
  }

  .buy-now{
    background: #FFF !important;
    position: relative;
    bottom: 4%;
    display: block;
    width: 120px;
    left: 2%;
    line-height: 1.6;
    padding: 5.5px 0px;
    border-radius:5px;
    color: #727272 !important;
    cursor: pointer;
    max-width: none;
    font-size: 22px;
    font-family: Mark, Arial, sans-serif;
    height: 40px !important;
    text-align:center;
    margin-top:20px;
    text-align:14px;
  }

  .s5 div{
    padding-left: 12px;
    padding-right: 0px;
  }
  
    
}

  @media screen and (max-width:1023px) {
  .s1-logo {
    top: 32%;
    
  }



  .s2-img3{
    height:80px !important;
  }
    
  .index-logo {
      height: 90px!important;
      width: auto!important;
  }
    .index-TxtImg {
    height: 50px!important;
    width: auto!important;
}

section.full-width.product-intro.clearfix.m-s2-change {
  transform: translateY(-30px);
}
    
.s2 {
    position: relative;
    width: 100%;
    height: 200px;
}
    .s2-imgs{
      width:100%;
      left: 0%;
      top:62px;
    }

    .s2-imgs img {
    height: 85px;
}

    .s2-row-blue {
    height: 40px;
}

    .s2-row-white {
    height: 40px;
}

.s2-imgs p {
    top: 1px;
}

.s3-logo p {
    letter-spacing: 6.5px;
  }

    .s5-1 {
    /*height: auto;*/
}
    .s5-1-txt h1 {
  
}
    .s5-1-txt p {
  
}

    .s5-2{
      height: auto;
    }
.s5-2-txt h1 {

}
    .s5-2-txt p {

}


    /* 750   < 1023  */
  }

@media screen and (max-width:820px) {
  .omnia{
    margin-top:44%;
    left:8%;
  }

  .s2-imgs{
    position: absolute;
    display: flex;
    justify-content: center;
    /* padding-left: 24px; */
    /* padding-right: 80px; */
    top: 60px;
    left: 20%;
    white-space: nowrap;
    width: 59%;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap:25px;
  }

  .Limg{
    padding:50px 0px 0px !important;
    height:250px;
    width:49%;    
  }

  .Rimg{
    padding:50px 0px 0px !important;
    height:250px;
    width:49%;
  }

  .s5 div{
    padding-left:10px;
  }
}

@media screen and (max-width:768px){

}

   @media screen and (max-width:750px) {
    .index-logo {
    height: 46px!important;
    width: auto!important;
}
     .index-TxtImg {
    height: 20px!important;
    width: auto!important;
}

.s2-row-blue {
    height: 46px;
}
    .s2-row-white {
    height: 46px;
}

    .s2-imgs img {
    height: 70px;
}

.s2-imgs{
  top:62px;
}
.s2-imgs p {
    top: 4px;
}

.s3-banner{
    position:relative;
    display:none;
}

.s3-banner-m{
    display:unset;
}

.s3-logo {
    bottom: -6px;
    left: 6px;
}
.s3-index-logo {
    max-height: 70px;
}
.s3-logo p{
    letter-spacing: 2.5px;
  }

.s4-banner{
    display:none;
}

.s4-banner-m{
    display:unset;
}

        .s4-txt {
            position: absolute;
            display: none;
            bottom: 67%;
            /* left: 69px; */
            width: 100%;
            /*display: flex;*/
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
        }

    .s4-txt * {
        font-size: 17px;
    }


  .s4-m{
    display:unset;
  }
  .s4-m-txt {
    background-color:#EAEAEA;
    display: flex;
    flex-direction: column;
    height: 150px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .s4-m-txt h1{
    font-size: 21px;
  }
  .s4-m-txt{
     
  }
  .s5 div {
    padding: unset;
   padding-left:25px;
   padding-right:0px;
    
  }
     
    .s5-1 {
        height: 250px;
    }

    .s5-1-txt h1 {
   
    }

    .s5-1-txt p {

    }
    .s5-2 {
        height: 250px;
    }

    .s5-2-txt h1 {

    }

    .s5-2-txt p {

    }

    /* 320   < 750  */
  }

@media screen and (max-width:450px) {

  .Limg{
    padding:45px 0px 0px !important;
    height:250px;
    width:100%;    
  }

  .Rimg{
    padding:45px 0px 0px !important;
    height:250px;
    width:100%;
  }

  .s5 div{
    padding-left:0px;
    padding-right:0px;
  }
  
  /*2023/8/2 logo 調整*/
    .index-logo {
        display: block;
        height: 74px!important;
    }
  
  .index-TxtImg {
    height: 31px!important;
    width: auto!important;
    }

    .s2-img3 {
        height: 70px !important;
    }

  
.s1-logo {
        top: 36%;
    }
  /*手機用圖片menu*/
  .m-s2-change{
    height:134px;
  }
.s1-banner{
  display:none;
}
.m-s1-banner{
  display:unset;
}
  .s2{
  display:none;
    
}

section.full-width.product-intro.clearfix.m-s2-change {
    transform: translateY(0px);
}

  
    .m-s2{
  display:unset;
    
}

.m-s2-arrors img {
    height: 37px;
    width: 17px;
}

.m-s2-arrors {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-84px);
    margin-bottom:-5px;
    padding-inline:5px;
    position:relative;
    z-index:1000;
}

  .Tmenu{
    z-index:3;
  }



  .s3-logo p {
    letter-spacing: 1.5px;
}

.s4 {
   
}

.s5 {
    margin-top: 0px;
}

.s5-1-txt{
  text-align: center;
}
.s5-2-txt {
     text-align: center;
}

.s5-1-txt p {
  margin: 0;
  line-height:1.5;
}
  
.s5-2-txt p {
  margin: 0;
  line-height:1.5;
}

  
  .buy-now{
    font-size:16px;
    height:20px !important;
    margin-top:0px;
    bottom:-8px;
    padding:0px;
    left:-12%;
    width:90px;
  }
  
  .m-s2-row-blue{
    height:50px;
  }

  .m-SubImgMun{
    min-width:70px;
    width:70px !important;
  }

  .twoblock{
    justify-content: center;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFF;
    color: #333;
    border-radius: 100px !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width:150px;
    height:42px;
  }

  .swiper-pagination{
    position:absolute;
    top:140px;
  }

  .swiper-pagination-bullet:hover, .swiper-pagination-bullet-active{
    background:#000;
  }

  .swiper-pagination-bullet{
    background:#727272;
  }
  
}

@media screen and (max-width:414px){
  .m-SubImgMun{
    min-width:110px;
    width:110px !important;
  }

  .swiper-slide-caption{
    gap:1px;
  }

  .buy-now{
    left:10%;
  }

  .twoblock{
    justify-content: space-around;
  }

  .Tmenu img {
    margin-left: 18px;
  }
}

@media screen and (max-width:390px){
  .m-SubImgMun{
    min-width:130px;
    width:130px !important;
  }

  .buy-now{
    left:15%;
  }

  .Tmenu img {
    margin-left: 27px;
  }

  .swiper-slide-caption{
    left:-37px;
  }

  .twoblock{
    left:0px;
  }
}

@media screen and (max-width:375px){
  .m-SubImgMun{
    min-width:121px;
    width:125px !important;
  }

  .buy-now{
    font-size:14px;
    height:20px !important;
    margin-top:0px;
    bottom:-8px;
    padding:0px;
    left:17%;
    width:90px;
  }

  .Tmenu img {
    margin-left: 28px;
  }
}

@media screen and (max-width:360px){
  .m-SubImgMun{
    min-width:115px;
    width:120px !important;
  }

}




</style>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!--<script src="js/coremin.js"></script>
<script src="js/swiper_script.js"></script> -->

<script>
 document.getElementById("s5_link1").addEventListener("click", function() {
    window.location.href = "https://bezalel.tw/products/omnia-x-series-magsafe";
});

   document.getElementById("s5_link2").addEventListener("click", function() {
    window.location.href = "https://bezalel.tw/products/prelude-x-magsafe-2";
});
 document.getElementById("s3-link1").addEventListener("click", function() {
    window.location.href = "https://bezalel.tw/products/prelude-x-magsafe-2";
});

   document.getElementById("s3-m-link1").addEventListener("click", function() {
    window.location.href = "https://bezalel.tw/products/prelude-x-magsafe-2";
});
 document.getElementById("s4-link1").addEventListener("click", function() {
    window.location.href = "https://bezalel.tw/products/prelude-x-magsafe-2";
});

   document.getElementById("s4-m-link1").addEventListener("click", function() {
    window.location.href = "https://bezalel.tw/products/prelude-x-magsafe-2";
});

  
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("Tmenu")[0].getElementsByClassName("slider");
        let dots = document.getElementsByClassName("carousel-button");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        slides[slideIndex-1].style.display = "flex";
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 5000000); 
        
    }

    function setCurrentSlide(n) {
        slideIndex = n - 1;  
        showSlides();
        clearTimeout(autoSlide);  
        autoSlide = setTimeout(showSlides, 5000000);  
    }

    function ToLink(str){
      if ( str == "Omnia" ){ window.location.href = "https://bezalel.tw/products/omnia-x-series-magsafe"; }
      else { window.location.href = "https://bezalel.tw/products/prelude-x-magsafe-2"; }
    }

var swiper = new Swiper('.swiper-container', {
    loop: false,
    simulateTouch: true,
    pagination: {
        el: '.swiper-pagination',
        clickable: true,  // 使分页点可点击
        dynamicBullets: true, // 动态分页点
    },
    // 其他配置选项
});

  
</script>
