<section class="full-width promo-hero">
  	<a href="https://tw.bezalel.co/products/prelude-x-magsafe-2"  data-analytics-title="Prelude X系列 MagSafe 磁吸無線充電器 超早鳥搶購中！" target="_blank">
  		<picture class="desktop">
            <source type="image/webp" srcset="{{ 'banner_bezalel_Desktop.webp' | asset_url }}" />
            <img src="{{ 'banner_bezalel_Desktop.jpg' | asset_url }}" alt="Prelude X系列 MagSafe 磁吸無線充電器 超早鳥搶購中！" width="2000" height="1125">
        </picture>					
        <picture class="tablet">
            <source type="image/webp" srcset="{{ 'banner_bezalel_Table.webp' | asset_url }}" />
            <img src="{{ 'banner_bezalel_Table.jpg' | asset_url }}" alt="Prelude X系列 MagSafe 磁吸無線充電器 超早鳥搶購中！" width="1024" height="576">
        </picture>					
        <picture class="mobile">
            <source type="image/webp" srcset="{{ 'banner_bezalel_Mobile.webp' | asset_url }}" />
            <img src="{{ 'banner_bezalel_Mobile.jpg' | asset_url }}" alt="Prelude X系列 MagSafe 磁吸無線充電器 超早鳥搶購中！" width="600" height="338">
        </picture>
  </a>
</section>

<section class="full-width white-bg home-cta">  
	<div class="container clearfix">
      	<div class="button-wrap">
            <h1 class="display-title"><span class="sr-only">BEZALEL 倍加能 | 無線充電</span></h1>
      		<a href="/collections/events-2205" data-analytics-title="超值組合產品"><button id="btn_fix2023" class="btn">超值組合產品</button></a>
    	</div>      
  	</div>  
</section>


<section class="full-width product-intro clearfix">  
  	<div class="container container-padding clearfix">        
      	<h2 class="display-title"><span class="sr-only">BEZALEL 倍加能 | 無線充電</span>無線充電</h2>      
		<div class="grid--full">          
            <a href="/collections/wireless-charging-tray" class="grid__item one-quarter medium--one-half small--one-half" data-analytics-title="Futura S MagSafe 磁吸無線快充充電盤">
                <!--<img src="{{ 'futura-homepage-grid-link.jpg' | asset_url }}" />-->
  				<picture>
                    <source type="image/webp" srcset="{{ 'link_0101_futura-x.webp' | asset_url }}" />
                    <img src="{{ 'link_0101_futura-x.jpg' | asset_url }}" alt="Futura S MagSafe 磁吸無線快充充電盤" width="435" height="505">               
                </picture>
              	<div class="overlay">
                  	<h3><span class="sr-only">BEZALEL 倍加能 | 無線充電</span>Futura S MagSafe</h3>
                  	<p>磁吸無線快充充電盤</p>
              	</div>
            </a>
          
            <a href="/products/wireless-charger-altair-stand" class="grid__item one-quarter medium--one-half small--one-half" data-analytics-title="Altair 無線充電座">
  				<picture>
                    <source type="image/webp" srcset="{{ 'link_0102_altair.webp' | asset_url }}" />
                    <img src="{{ 'link_0102_altair.jpg' | asset_url }}" alt="Altair 無線充電座" width="435" height="505">
                </picture>
              	<div class="overlay">
                  	<h3>Altair</h3>
                	<p>無線充電座</p>
              	</div> 
          	</a>          
             <a href="/products/prelude-x-magsafe-2" class="grid__item one-quarter medium--one-half small--one-half" data-analytics-title="Prelude X MagSafe 系列磁吸無線充電器">
  				<picture>
                    <source type="image/webp" srcset="{{ 'link_0103_prelude-se.webp' | asset_url }}" />
                    <img src="{{ 'link_0103_prelude-se.jpg' | asset_url }}" alt="Prelude X MagSafe 磁吸無線充電器" width="435" height="505">
                </picture>
              	<div class="overlay">
                  	<h3>Prelude X MagSafe</h3>
                	<p>磁吸無線行動電源</p>
              	</div> 
          	</a>          
            <a href="/collections/set" class="grid__item one-quarter medium--one-half small--one-half" data-analytics-title="Omnia S MagSafe 磁吸無線車用充電器系列">
  				<picture>
                    <source type="image/webp" srcset="{{ 'link_0104_omnia-s.webp' | asset_url }}" />
                    <img src="{{ 'link_0104_omnia-s.jpg' | asset_url }}" alt="Omnia S MagSafe 磁吸無線車用充電器" width="435" height="505">
                </picture>
              	<div class="overlay">
                    <h3>Omnia S MagSafe</h3>
                    <p>磁吸無線車用充電器</p>
                </div>            
          	</a>          
      	</div>      
  	</div>  
</section>


<section class="full-width clearfix product-intro product-intro-2">  
  	<div class="container container-padding clearfix">
		<div class="grid--full">          
            <div class="grid-spacer-homepage grid__item one-quarter medium--one-half small--one-half">            
          	</div> 
          	<a id="2023_4_23_a_fix" href="/collections/for-iphone" class="grid__item one-quarter medium--one-half small--one-half" data-analytics-title="iPhone適用產品">
  				<h3 class="display-title">iPhone適用</h3>
              	<picture>
                    <source type="image/webp" srcset="{{ 'link_0201_cases.webp' | asset_url }}" />
                    <img src="{{ 'link_0201_cases.jpg' | asset_url }}" alt="iPhone適用產品" width="435" height="505">
                </picture>
            </a>          
            <a id="2023_4_23_a_fix" href="/collections/for-android" class="grid__item one-quarter medium--one-half small--one-half" data-analytics-title="Android適用產品">
  				<h3 class="display-title">Android適用</h3>
              	<picture>
                    <source type="image/webp" srcset="{{ 'link_0202_samsung.webp' | asset_url }}" />
                    <img src="{{ 'link_0202_samsung.jpg' | asset_url }}" alt="Android適用產品" width="435" height="505">
                </picture>
          	</a>          
            <div class="grid__item grid-spacer-homepage one-quarter medium--one-half small--one-half" >            
          	</div>                   
      	</div>
  	</div>  
</section>

<section class="full-width light-bg clearfix quotes-content">  	
  	<div class="container clearfix">      
		<div class="cycle-slideshow" data-cycle-auto-height="false" data-cycle-fx="scrollHorz" data-cycle-pager=".quotesnav" data-cycle-speed="600" data-cycle-slides="> div" data-cycle-swipe="true" data-cycle-timeout="4000">

            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=Wired>—</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt">「讓人想擁有的最新無線充電手機殼」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_01_wired.webp' | asset_url }}" />
                          <img src="{{ 'logo_01_wired.png' | asset_url }}" alt="Wired" width="150" height="30.5" id="wired-logo">
                      </picture>
                  </span>
              </h4>
            </div>
            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=Digital Trends>—</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt">「適用於您的iPhone 或 Android 手機充飽電的最佳無線充電器」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_02_digitaltrends.webp' | asset_url }}" />
                          <img id="dt-logo" src="{{ 'logo_02_digitaltrends.png' | asset_url }}" alt="Digital Trends" width="150" height="62">
                      </picture>
                  </span>
              </h4>
            </div>
            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=Business Insider>—</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt">「適用於 iPhone 8、iPhone X 或 Android 手機的最佳無線充電器」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_03_business-insider.webp' | asset_url }}" />
                          <img id="business-logo" src="{{ 'logo_03_business-insider.png' | asset_url }}" alt="Business Insider" width="125" height="50">
                      </picture>
                  </span>
              </h4>
            </div>
            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=Tech Crunch>—</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt">「一起加入捨棄充電線的行列吧!」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_04_techcrunch.webp' | asset_url }}" />
                          <img id="techcrunch-logo" src="{{ 'logo_04_techcrunch.png' | asset_url }}" alt="Tech Crunch" width="150" height="26.5">
                      </picture>
                  </span>
              </h4>
            </div>
            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=Buzz Feed>—</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt">「新世代無線充電行動電源」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_05_buzzfeed.webp' | asset_url }}" />
                          <img id="buzzfeed-logo" src="{{ 'logo_05_buzzfeed.png' | asset_url }}" alt="Buzz Feed" width="150" height="28">
                      </picture>
                  </span>
              </h4>
            </div>
            <div class="quote-content" data-cycle-pager-template="<li><a href=# data-analytics-title=abc news>—</a></li>">
              <h4 class="quotes display-title">
                  <span class="quote-txt">「最受歡迎的 iPhone 科技小物」</span>
                  <span class="quote-img">
                      <picture>
                          <source type="image/webp" srcset="{{ 'logo_06_abc-news.webp' | asset_url }}" />
                          <img id="abc-logo" src="{{ 'logo_06_abc-news.png' | asset_url }}" alt="abc news" width="120" height="50">
                      </picture>
                  </span>
              </h4>
            </div>
      
      	</div>
        
		<ul class="cycle-pager quotesnav"></ul>  
  	</div>  
</section>

<section class="full-width white-bg clearfix instagram-homepage">
  	<p><a href="https://www.instagram.com/bezalel_taiwan/?hl=zh-tw" target="_blank" rel="noreferrer noopener nofollow" data-analytics-title="instagram">@bezalel_taiwan</a></p>
  	<h4><a href="https://www.instagram.com/bezalel_taiwan/?hl=zh-tw" target="_blank" rel="noreferrer noopener nofollow" data-analytics-title="instagram">追蹤我們</a></h4>
</section>

<section class="full-width white-bg home-cta cta-bottom"> 
	<div class="container clearfix">     
      	<div class="button-wrap">          
      		<a href="/collections/all" data-analytics-title="全系列產品"><button class="btn">全系列產品</button></a>          
    	</div>      
  	</div>  
</section>
