<div class="updates">
  
  <section class="full-width blog-hero">
      <div class="wrapper">
        <h2 style="text-transform:uppercase;">#takecharge</h2>
        <h4>Tell us your story. Post a photo with description to twitter or Instagram. 
          Tag&nbsp;<strong>BEZALELpower</strong> and be sure to <strong>#TAKECHARGE</strong>.</h4>
		<ul>
            <li>
                <a href="{{ settings.social_twitter }}" target="_blank">                      	
                   <img class="blog-social-icon" src="{{ 'twitter.png' | asset_url }}" />
                </a>
            </li>
            <li>
                <a href="{{ settings.social_facebook }}" target="_blank">
                   <img class="blog-social-icon" src="{{ 'facebook.png' | asset_url }}" />
                </a>
            </li>
            <li>
                <a href="{{ settings.social_instagram }}" target="_blank">
                   <img class="blog-social-icon" src="{{ 'instagram.png' | asset_url }}" />
                </a>
            </li>
        </ul>
        
      </div>
	</section>
	<section class="full-width instagram-feed">
		<div class="covet-pics-gallery" data-id="2407"></div>
  	</section>
</div>
