<section class="full-width page-header">
  	<div class="container container-padding">
  		<h1 class="display-title" style="margin-bottom: 30px;">Product Guides</h1>
      	<p style="margin-bottom: 0;">Need some product specifics? PDFs are available for download below.</p>
  	</div>
</section>

<section class="full-width rte product-guide"> 
    <div class="container container-bottom-padding clearfix max-width-900">
    	<div class="grid">
            <div class="grid__item one-quarter medium--one-half small--one-whole">
            	<div class="product-guide-img offwhite-bg">
                  	<img src="{{ "futura-x-wh-product-guide.png" | asset_url }}" />
              	</div>            
            	<h3>Futura X</h3>
                 <a href="{{ "Futura-X.pdf" | asset_url }}" target="_blank">Futura X</a>
      		</div>
          	<div class="grid__item one-quarter medium--one-half small--one-whole">
            	<div class="product-guide-img offwhite-bg">
              		<img src="{{ "prelude-new-in-the-box.png" | asset_url }}" />
              	</div>            	
          		<h3>Prelude</h3>
                <a href="{{ "Prelude_User_Guide_20191231.pdf" | asset_url }}" target="_blank">Prelude</a>
      		</div>
          	<div class="grid__item one-quarter medium--one-half small--one-whole">
            	<div class="product-guide-img offwhite-bg">
              		<img src="{{ "omnia-in-the-box.png" | asset_url }}" />
              	</div>            	
          		<h3>Omnia</h3>
                <a href="{{ "Omnia-5W.pdf" | asset_url }}" target="_blank">Omnia</a>
      		</div>
          	<div class="grid__item one-quarter medium--one-half small--one-whole">
            	<div class="product-guide-img offwhite-bg">
              		<img src="{{ "Altair-in-the-box.png" | asset_url }}" />
              	</div>            	
          		<h3>Altair</h3>
                <a href="{{ "Altair.pdf" | asset_url }}" target="_blank">Altair</a>
      		</div>
          	<!--<div class="grid__item one-fifth medium--one-half small--one-whole">
            	<div class="product-guide-img offwhite-bg">
              		<img src="{{ "latitude-product-guide-img.png" | asset_url }}" />
              	</div>
          		<h3>Latitude</h3>
              	<a href="{{ "Latitude.pdf" | asset_url }}" target="_blank">iPhone 6/6s</a>
          		<a href="{{ "Latitude.pdf" | asset_url }}" target="_blank">iPhone 7/7s</a>
        	</div>-->

      	</div>
  </div>
</section>