{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}

<div class="latitude-buy omnia-buy no-top-menu-buy buy-page">

    <section class="full-width fade-in offblack-bg product-wrap">

        <div class="container container-padding">

          	<div class="product">

            {% assign current_variant = bold_selected_or_first_available_variant %}
            {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

            <div class="product-image">
				
              	<div class="product-above-image-content-mobile">
                  
                    <div class="product-title">{{ product.title }}</div>
                  
                  	<h4>Ultra Thin 15W Fast Wireless Charging Pad{% if product.title contains "Stand" %} and&nbsp;Stand{% endif %}<br>Made for iPhone&nbsp;XS, XS Max, XR, Samsung and <a href="https://bezalel.co/pages/futura-x-and-prelude-compatible-devices" target="_blank">other Qi&#8209;enabled devices</a></h4>                            

                    <div class="prices-wrap">
                        {% if current_variant.price < current_variant.compare_at_price %}<span class="ComparePrice">{{ current_variant.compare_at_price | money }}</span>&nbsp;&nbsp;{% endif %}
                        <h3 class="price ProductPrice">
                            {{ current_variant.price | money }}   
                        </h3>
                    </div>
                	<div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">{{ product.metafields.judgeme.badge }}</div>				

              	</div>
              
              	<div id="slider" class="regular-slider flexslider">
                	<ul class="slides">
                  		{% if product.images.size > 0 %}
                    	<li class="slide" data-index="0" data-variant-img="{{ featured_image.id }}" data-thumb="{{ featured_image | img_url: 'small' }}" data-thumb-alt="{{ featured_image.alt | escape }}">
                        	<img src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}">
                    	</li>
                    	{% if product.images.size > 1 %}
                      	{% assign index = 0 %}
                      		{% for image in product.images %}
                        		{% unless image contains featured_image %}
                          		{% assign index = index | plus: 1 %}
                          			<li class="slide" data-index="{{ index }}" data-variant-img="{{ image.id }}" data-thumb="{{ image | img_url: 'small' }}" data-thumb-alt="{{ image.alt | escape }}">
                              			<img src="{{ image | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                          			</li>
                        		{% endunless %}
                      		{% endfor %}
                    	{% endif %}
                  		{% else %}
                    	<li class="slide">
                      		<img src="{{ 'no-image.svg' | asset_url }}" alt="">
                    	</li>
                  		{% endif %}
                	</ul>
              	</div>
            </div>
              
            <div class="product-content">

				<div class="product-above-image-content-desktop">

                    <div itemprop="name" class="product-title">Omnia + BEZALEL Receiver Case</div>
              		<h4>Simplify Your Charge: Drive Freely with Omnia</h4>                            

                    {% if current_variant.price < current_variant.compare_at_price %}<span class="ComparePrice">{{ current_variant.compare_at_price | money }}</span>&nbsp;&nbsp;{% endif %}

                    <h3 class="price ProductPrice">
                        {{ current_variant.price | money }}              
                    </h3>
              	</div>
              
              	<div class='jdgm-widget jdgm-preview-badge desktop' data-id='{{ product.id }}'>{{ product.metafields.judgeme.badge }}</div>				                             
                      
				{% assign preorder = false %}
				{% if product.available %}
              		{% for tag in product.tags %}
              			{% if tag == 'preorder' %}
              				{% assign preorder = true %}
              			{% endif %}
              		{% endfor %}
              	{% endif %}

                <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

                  <div class="buy-row swatches">

                      <select name="id" id="product-select-{{ product.id }}" class="product-single__variants">
                        
                        {% for variant in product.variants %}
						
                        {% include 'bold-hidden-variants' with variant, bold_loop: 'loop' %}

                        {% if variant.available %}

                            <option {% if variant == current_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                          {% else %}
                            <option disabled="disabled">
                              {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                            </option>
                          {% endif %}
                        {% endfor %}
                   
                        
                      </select>
                          {% for option in product.options %}
                            {% include 'swatch' with option %}
                          {% endfor %}
                   	</div>
                                
                  	<div class="buy-row quantity-row">
                        <div class="form__column quantity-selector">
                            <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qty-remove-defaults quantity-selector">
                        </div>                    
                        <button type="submit" name="add" id="AddToCart" class="ajaxify-cart btn btn--fill btn--regular btn--color" onclick="location.href='/cart';">
                            <span id="AddToCartText">Add to Cart</span>
                        </button>
                  	</div> 
                  
					<article class="faq-item warranty">
                        <div itemprop="mainEntity" itemtype="https://schema.org/Question">
                        	<div class="faq-question faq-animation">
                        		<p itemprop="name"><strong>WARRANTY</strong></p><span class="ease-animation-slow"></span>
                          	</div>
                        	<div class="content antialiasing hidden" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        		<div itemprop="text">
                                  	<p>1 Year Warranty</p>
									<p>All BEZALEL products are covered by a one-year manufacturer's warranty from the date of purchase by the original consumer.</p>
                                  	<p><strong><a href="/pages/customer-support" target="_blank">More Warranty Information</a></strong></p>
                        		</div>
                        	</div>
                        </div>
                    </article>
                  
                </form>

            </div>
              
            <div class="product-detail-anchor-nav">
                <ul>
                    <li><a href="#section1">Features</a></li>
                    <li><a href="#section2">Specs</a></li>
                    <li><a href="#section3">In the Box</a></li>
                    <li><a href="#section4">Reviews</a></li>
                </ul>
            </div>
		</div>
	</div>      
    </section>

  	<span class="anchor" id="section1"></span>

	<div id="features-section"> 
      
        <section class="full-width white-bg omnia-phone">
            <div class="container container-top-padding clearfix">
                <table>
                    <tr>
                        <td class="middle sixty">
                            <img src="{{ 'omnia-phone.jpg' | asset_url }}" />                  	
                        </td>
                        <td class="black-txt middle">	
                            <h2>Wireless charge<br>at any angle.<br>In any scenario.</h2>
                          	<p class="last">Just place your phone down and let it automatically power up. Simple and easy, just the way you like it.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
 
        <section class="full-width white-bg omnia-swivel">
            <div class="container container-padding clearfix">
                <table class="desktop">
                    <tr>
                        <td class="black-txt middle sixty">	
                            <h2 style="margin-left: 30%;">360° Swivel</h2>
                          	<p style="margin-left: 30%;" class="last">No matter how you need it, the Omnia can rotate to the angle you need.</p>
                        </td>
                        <td class="middle">
                            <img src="{{ 'omnia-swivel.jpg' | asset_url }}" />                  	
                        </td>
                  	</tr>
                </table>
                <table class="mobile">
                    <tr>
                        <td class="middle">
                            <img src="{{ 'omnia-swivel.jpg' | asset_url }}" />                  	
                        </td>
              			<td class="black-txt middle sixty">	
                            <h2>360° Swivel</h2>
                          	<p class="last">No matter how you need it, the Omnia can rotate to the angle you need.</p>
                        </td>
                  	</tr>
                </table>
          </div>
        </section>

        <section class="full-width white-bg">
            <div class="container container-bottom-padding clearfix">
                <table>
                    <tr>
                        <td class="top sixty-five">
                            <img id="omnia-angle" src="{{ 'omnia-angle.jpg' | asset_url }}" />                  	
                        </td>
                        <td class="black-txt bottom">	
                            <h2>Powerfully Magnetic</h2>
							<p class="last">With its strong magnetic force and soft rubber, the Omnia will securely hold your smartphone and keep it charged throughout your ride.</p>                        
                      	</td>
                    </tr>
                </table>
            </div>
        </section>
  	</div>
  
	<section class="full-width omnia-hero hero">
	</section>

  	<span class="anchor" id="section2"></span>

    <section class="full-width white-bg" id="specs-section">
      	<div class="container max-width-1100 container-padding clearfix">
            <h3 class="display-title">Specifications</h3>
			<div class="grid">
                <div class="grid__item one-third medium--one-third small--one-half">
                    <img class="module-icon" src="{{ 'Qi.png' | asset_url }}" />
                    <h3>Qi</h3>
                  	<p>Wireless Technology</p>
              	</div>
                <div class="grid__item one-third medium--one-third small--one-half">
                    <img class="module-icon" src="{{ 'weight.png' | asset_url }}" />
                    <h3>4</h3>
                  	<p>Weight (Ounce)</p>                
              	</div>
                <div class="grid__item one-third medium--one-third small--one-half">
                    <img class="module-icon" src="{{ 'input.png' | asset_url }}" />
                    <h3>5 / 1.5</h3>
                  	<p>Input (Voltage/Amps)</p>                
              	</div>
                <div class="grid__item one-third medium--one-third small--one-half">
                    <img class="module-icon" src="{{ 'output.png' | asset_url }}" />
                    <h3>5 / 1</h3>
                  	<p>Output (Voltage/Amps)</p>               
              	</div>
                <div class="grid__item one-third medium--one-third small--one-half">
                    <img class="module-icon" src="{{ 'quick-charge.png' | asset_url }}" />
                    <h3>3.0</h3>
                  	<p>Quick Charge Technology</p>               
              	</div>
                <div class="grid__item one-third medium--one-third small--one-half">
                    <img class="module-icon" src="{{ 'dimensions.png' | asset_url }}" />
                    <h3>95 x 70 x 55</h3>
                  	<p>Dimensions (mm)</p>               
              	</div>
          </div>
      </div>
  	</section>
  
    <section class="full-width">
        <div class="container">
            <hr class="full-width-rule">
        </div>
    </section>

  	<span class="anchor" id="section3"></span>

    <section class="full-width white-bg" id="box-section">
      	<div class="container clearfix">
            <h3 class="display-title">In the Box</h3>
      	</div>
  	</section>

    <section class="full-width offwhite-bg" id="box-section-content">
      	<div class="container max-width-1100 clearfix">
			<div class="grid">
                <div class="grid__item one-quarter medium--one-half small--one-half">
                    <div style="position:relative;float:left;width:100%;">
						<img class="box-item" src="{{ 'latitude-in-the-box.png' | asset_url }}" />                  		
						<p>BEZALEL Receiver Case</p>                  	
                  	</div>
                </div>
                <div class="grid__item one-quarter medium--one-half small--one-half">
                    <div style="position:relative;float:left;width:100%;">
                      	<img class="box-item" src="{{ 'omnia-in-the-box.png' | asset_url }}" />
                  		<p>Omnia Wireless Car Charger</p>
                  	</div>
                </div>
                <div class="grid__item one-quarter medium--one-half small--one-half">
                    <div style="position:relative;float:left;width:100%;">
                      	<img class="box-item cable-image" src="{{ 'omnia-cable-in-the-box.png' | asset_url }}" />
                  		<p>0.8m USB-C Cable</p>
                  	</div>
                </div>
                <div class="grid__item one-quarter medium--one-half small--one-half">
                    <div style="position:relative;float:left;width:100%;">
                      	<img class="box-item" src="{{ 'omnia-adapter-in-the-box.png' | asset_url }}" />
                  		<p>12-24V Car USB Adapter</p>
                  	</div>
                </div>
          </div>
      	</div>
  	</section>
  
    <section class="full-width">
        <div class="container">
            <hr class="full-width-rule">
        </div>
    </section>

  	<span class="anchor" id="section4"></span>

  	<section class="full-width judgeme-review" id="reviews-section">
      	<div class="container max-width-1100 container-bottom-padding">
          	<h3 class="display-title">What Customers Say</h3>
          	<div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title }}' data-id='{{ product.id }}'>{{ product.metafields.judgeme.widget }}</div>
      	</div>
  	</section>   
</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>
  
  	var selectCallback = function(variant, selector) {

      var $addToCart = $('#AddToCart'),
          $productPrice = $('.ProductPrice'),
          $comparePrice = $('.ComparePrice'),
          $quantityElements = $('.quantity-selector'),
          $addToCartText = $('#AddToCartText'),
          moneyFormat = "{{ shop.money_format }}";

          if (variant && variant.available == true) {
              $addToCart.removeClass('btn--disabled').prop('disabled', false);
              $quantityElements.removeClass('hidden');
              $addToCartText.text({{ 'products.product.add_to_cart' | t | json }});

              if (variant.featured_image) {
                  var newImg = $('#slider').find('.slide[data-variant-img="' + variant.featured_image.id + '"]');

                  if (newImg.length > 0) {
                      if ($('#slider').hasClass('loaded')) {
                          $('#slider').flexslider(newImg.data('index'));
                          $('.flex-control-thumbs img').each(function() {
                              if ($(this).prop('alt') != variant.title) {
                                  $(this).parent('li').addClass('hide');
                              }
                              if ($(this).prop('alt') == variant.title) {
                                  $(this).parent('li').removeClass('hide');
                              }
                          });

                      } else {
                          $('#slider').data('loaded-index', newImg.data('index'));
                      }
                  }
              }

          if ( variant.compare_at_price > variant.price ) {
              $comparePrice.html(Shopify.formatMoney(variant.compare_at_price, moneyFormat)).show();
              $productPrice.html(Shopify.formatMoney(variant.price,  moneyFormat)) + Shopify.formatMoney(variant.compare_at_price, moneyFormat);
          } else {
              $comparePrice.hide();
              $productPrice.html(Shopify.formatMoney(variant.price, moneyFormat));
          }

          var form = jQuery('#' + selector.domIdPrefix).closest('form');
          for (var i=0,length=variant.options.length; i<length; i++) {
              var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
              if (radioButton.size()) {
              radioButton.get(0).checked = true;
              }
          }

      } else {

          $addToCart.addClass('btn--disabled').prop('disabled', true);
          $addToCartText.text("{{ 'products.product.unavailable' | t }}");
          $quantityElements.addClass('hidden');
      }

      $(".swatch-element input:radio").on('click', function(){
          if ($(this).attr('checked', 'checked')){
              $(this).parent().addClass('active-swatch-single-variant');
              $(this).parent().siblings().removeClass('active-swatch-single-variant');
          } else {
             $(this).parent().removeClass('active-swatch-single-variant');
         }
      });      
    };
  
    jQuery(function(){$(document).on("click",".faq-item .faq-question",function(){$(this).parent().find(".content").is(":visible")||($(".faq-item .content").slideUp(),$(".faq-item .faq-question").removeClass("active")),$(this).toggleClass("active").parent().find(".content").slideToggle()})});

    jQuery(function($) {
          new Shopify.OptionSelectors('product-select-{{ product.id }}', {
          product: bold_product_json[{{ product.id }}],
          onVariantSelected: selectCallback,
          enableHistoryState: false
      });

      {% if product.options.size == 1 %}
        {% if product.options.first != "Title" %}
          $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
        {% else %}
          $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">&nbsp;</label>');
        {% endif %}
      {% endif %}

      {% if bold_variants_size == 1 and product.variants.first.title contains 'Default' %}
        $('.selector-wrapper').hide();
      {% endif %}
    });
</script>

{{ 'flexslider.js' | asset_url | script_tag }}

<script>
jQuery(document).ready(function() {
  	$('.swatch-element.latitude-black').addClass('active-swatch-single-variant');
  	$('.swatch-element.omnia-black').addClass('active-swatch-single-variant');
  	$('.swatch-element.iphone-8').addClass('active-swatch-single-variant');
  
    if ($('.regular-slider').length > 0) {
      
      $('.regular-slider.flexslider').imagesLoaded(function() {
        var sliderArgs = {
            animation: 'slide',
            animationSpeed: 300,    
            slideshow: false,
            slideshowSpeed: 5000,
            directionNav: true,
            keyboard: true,
            prevText: '',
            nextText: '',
            smoothHeight: true,
            controlNav: 'thumbnails',
          	controlsContainer: $('.custom-controls-container'),
    		customDirectionNav: $('.custom-navigation a'),
          	start: function(slider) {
                if ($(slider).find('.slide').not('.clone').length === 1) {
                  $(slider).find('.flex-direction-nav').remove();
                }
                $(window).trigger('resize');
                slider.addClass('loaded');
                if ($('#slider').data('loaded-index') != undefined) {
                  $('#slider').flexslider($('#slider').data('loaded-index'));
                }
                $('.flex-control-thumbs').addClass('show');
          	}
        };

        if ($('.regular-slider.flexslider').find('li').length === 1) {
          sliderArgs.touch = false;
        }

        $('.regular-slider.flexslider').flexslider(sliderArgs);
      });
    }
 });
</script>

<style>

{% assign width = '40px' %}
{% assign height = '40px' %}
.swatch { 
  margin:1em 0; 
}
.swatch .header {
  margin: 0.5em 0;
}
.swatch input { 
  display:none;
}
.swatch label {
  float:left;
  min-width:{{ width }} !important; 
  height:{{ height }} !important;
  margin:0;
  background-color:#ddd;
  font-size:14px;
  text-align:center;
  line-height:{{ height }};
  white-space:nowrap;
  text-transform:uppercase;
  color: #343339;
}
.swatch-element label { padding:0 10px; }
.color.swatch-element label { padding:0;  border-radius: 0; }
.swatch .swatch-element {
  float:left;
  -webkit-transform:translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing:antialiased; /* webkit text rendering fix */
  margin:0px 10px 10px 0;
  position:relative;
}
/* Image with the cross in it */
.crossed-out { position:absolute; width:100%; height:100%; left:0; top:0; }
.swatch .swatch-element .crossed-out { display:none; }
.swatch .swatch-element.soldout .crossed-out { display:block; }
.swatch .swatch-element.soldout label {
  filter: alpha(opacity=60); /* internet explorer */
  -khtml-opacity: 0.6;      /* khtml, old safari */
  -moz-opacity: 0.6;       /* mozilla, netscape */
  opacity: 0.6;           /* fx, safari, opera */
}
/* Tooltips */
.swatch .tooltip {
  text-align:center;
  background:#343339;
  color:#fff;
  bottom:100%;
  padding: 10px;
  display:block;
  position:absolute;
  width:100px;
  left:{{ width | remove: 'px' | to_number | divided_by: 2 | minus: 50 | plus: 2 }}px;
  margin-bottom:15px;
  /* Make it invisible by default */
  filter:alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity:0;
  visibility:hidden;
  /* Animations */
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 10000;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
}
.swatch .tooltip:before {
  bottom:-20px;
  content:" ";
  display:block;
  height:20px;
  left:0;
  position:absolute;
  width:100%;
}
/* CSS triangle */
.swatch .tooltip:after {
  border-left:solid transparent 10px;
  border-right:solid transparent 10px;
  border-top:solid #343339 10px;
  bottom:-10px;
  content:" ";
  height:0;
  left:50%;
  margin-left:-13px;
  position:absolute;
  width:0;
}
.swatch .swatch-element:hover .tooltip {
  filter:alpha(opacity=100);
  -khtml-opacity:1;
  -moz-opacity:1;
  opacity:1;
  visibility:visible;
  -webkit-transform:translateY(0px);
     -moz-transform:translateY(0px);
      -ms-transform:translateY(0px);
       -o-transform:translateY(0px);
          transform:translateY(0px);
}
.swatch.error {
  background-color:#E8D2D2!important;
  color:#333!important;
  padding:1em;
  border-radius:5px;
}
.swatch.error p {
  margin:0.7em 0;
}
.swatch.error p:first-child {
  margin-top:0;
}
.swatch.error p:last-child {
  margin-bottom:0;
}
.swatch.error code {
  font-family:monospace;
}
</style>